body {
    font-family: sans-serif;
    line-height: 1.4em;
    background: #FFF;
    color: #444;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: #00AAEE;
  text-decoration: none;
}

.nav__main {
  width: 100%;
  height: 3em;
  color: white;
  // background-color: black;
  // opacity: .5;
  position: fixed;
  z-index: 1000;
}

.logo__main {
  float: left;
  margin-top: .75em;
  margin-left: 3em;
}

.menu__main {
  float: right;
  margin-top: .75em;
}

.menu__main li{
  float: left;
  font-size: .9em;
  margin-right: 3em;
  text-transform: uppercase;
}

.section-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  // background-color: black;
  background-image: url(/img/bkg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-slider:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-color: black;
  opacity: .3;
}

.slider-controls {
  // margin-top: 31em;
  // margin-left: 42em;
  // z-index:1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 1.5em;
}

// .radio-slide1 {
//   position: absolute;
//   bottom: 0;
//   left: 50%;
//   transform: translate(-10em, -200%);
// }

// .label-slide1 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 550px;
//   background-color: black;
//   opacity: 0;
//   z-index: -1;
// }

.radio-slide1:checked + .label-slide1 {
  animation: slide1 10s infinite;
}

@keyframes slide1 {
  0% {
    background-color: #fff;
  }
  25% {
    background-color: #f3f3f3;
  }
  50% {
    background-color: #ff0000;
  }
  75% {
    background-color: #333333;
  }
  100% {
    background-color: #000;
  }
}
